/.classpath
/.project
/.settings
/target

.DS_Store

**/*.iml
**/.idea

/bin
/dependency-reduced-pom.xml
*-private.sh

/.gradle
**/build


worldguard-legacy/out/production/classes/com/sk89q/worldguard/bukkit/WorldGuardPlugin\$1\.class

worldguard-legacy/out/production/classes/com/sk89q/worldguard/session/
